PORT=8080
PUBLIC_BASE_URL=http://localhost:8080
VCAD_AUTH_MODE=keycloak
VCAD_KEYCLOAK_BASE_URL=https://auth.superpoweredjalapenos.org
VCAD_KEYCLOAK_REALM=ftc-interview
VCAD_KEYCLOAK_CLIENT_ID=ftc-interview-web
VCAD_KEYCLOAK_ISSUER=https://auth.superpoweredjalapenos.org/realms/ftc-interview
VCAD_ALLOW_DEV_AUTH=false
VCAD_DATA_DIR=./data
